
<div class="contenedorPantalla" *ngIf="terceroDataDto !== null && contenedorPantalla!=true">
  <br><br>
  <h1 class="tituloForma">PRESUPUESTO &nbsp; <i class="fas fa-money-bill-wave"></i></h1>
  <hr>
  <div class="contenedorForma" [formGroup]="formPresupuesto" *ngIf="mostrarform" >

    <mat-card class="tarjetaPresupuesto mat-elevation-z8">
      <h1 style="color: #1B7BD6; text-align: center;">ASIGNACIÓN DE PRESUPUESTO</h1>
      <hr>
      <br><br>
      <div class="contenido-presupuesto" >

        <mat-form-field class="inputcompleto">
          <mat-label>Año</mat-label>
          <mat-select formControlName="anio" required>
            <mat-option *ngFor="let anio of listaAnos" [value]="anio.anio" >
              {{anio.anio}}
            </mat-option>
          </mat-select>
        </mat-form-field> 

        <mat-form-field class="inputcompleto">
          <mat-label>Mes</mat-label>
          <mat-select formControlName="mes" required>
            <mat-option *ngFor="let mes of listaMeses" [value]="mes">
              {{mes.nombreMes|uppercase}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        
        <mat-form-field class="inputcompleto">
          <mat-label>Linea de producto</mat-label>
          <mat-select formControlName="producto" required>
            <mat-option *ngFor="let linea of listaProductos " [value]="linea">
              {{linea.nombLinProducto|uppercase}}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <div class="contenedorBotones">
          <button mat-raised-button class="inputX2 btnAceptar" id="btnAsignar"  [disabled]="listaAnos==undefined && listaMeses== undefined && listaProductos== undefined"
            (click)="consultadatatable(formPresupuesto)">Agregar &nbsp; <i class="fas fa-money-bill-wave"></i></button>
          &nbsp;
          <button mat-raised-button class="inputX2 btnCancelar" (click)="cancelar(formPresupuesto) ">Cancelar &nbsp; <i
              class="fas fa-ban"></i></button>
        </div>

      </div>
<br>

     
    </mat-card>


  </div>

  <div class="center" *ngIf="mostrarTabla">
    <div class="contenedorTabla" *ngIf="tabladatos">
  
      <h2 style="text-align: center; color: #1B7BD6;"> {{mesTable | uppercase}} / {{linProdTable | uppercase}} </h2>
  
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z2 tabla" style="text-align: start;" matSort id="tabla">
  
        <!-- fecha Column -->
        <ng-container matColumnDef="fecha"  >
          <th mat-header-cell *matHeaderCellDef  style="text-align: center;"> Fecha</th>
          <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.fecha}} </td>
        </ng-container>
  
        <!-- dia Column -->
        <ng-container matColumnDef="dia">
          <th mat-header-cell *matHeaderCellDef  style="text-align: center;">Día </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">{{element.nombreDiaSemana | uppercase}}  </td>
        </ng-container>
  
        <!-- Presupuesto Comercial Column -->
        <ng-container matColumnDef="presupuestoComercial">
          <th mat-header-cell *matHeaderCellDef  style="text-align: center;"> Presupuesto Comercial </th>
          <td mat-cell *matCellDef="let element" style="text-align: right;"> <p>$ {{element.presupuestoComercial | number}}</p>  </td>
        </ng-container>
  
         <!-- Presupuesto Ventas Column -->
         <ng-container matColumnDef="presupuestoVentas">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Presupuesto Ventas </th>
          <td mat-cell *matCellDef="let element" style="text-align: right;"> <p>$ {{element.presupuestoVentas | number}}</p>  </td>
        </ng-container>
  
        <!-- asignar Column -->
        <ng-container matColumnDef="asignar">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Asignar Presupuesto</th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <button mat-flat-button class=" inputcompletotabla" (click)="asignarPresupuesto(element)">
              <mat-icon>add  &nbsp; </mat-icon>Asignar
            </button>
          </td>
        </ng-container>
  
         <!-- mantener Column   #1B7BD6 -->
         <ng-container matColumnDef="mantener">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Mantener Presupuesto</th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <button mat-flat-button class=" inputcompletotabla" (click)="mantenerPresupuesto(element)">
              Mantener
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="8">No se encontr&oacute; informaci&oacute;n para mostrar</td>
        </tr>
  
  
      </table>
  
      <table  mat-table class="mat-elevation-z2 tabla" style="text-align: start;" matSort id="tabla2">
  
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef  style="text-align: center; width: 11.5%;"> Totalizado</th>
        </ng-container>
  
        <ng-container matColumnDef="dia">
          <th mat-header-cell *matHeaderCellDef  style="text-align: center; width: 8%;"> ------ </th>
              </ng-container>
  
        <ng-container matColumnDef="presupuestoComercial">
          <th mat-header-cell *matHeaderCellDef  style="text-align: right; width: 14%;"> $ {{totalPresupuestoC | number}}</th>
        </ng-container>
  
        <ng-container matColumnDef="presupuestoVentas">
          <th mat-header-cell *matHeaderCellDef style="text-align: right; width: 12%;">  $ {{totalPresupuestoV | number}}</th>
        </ng-container>
  
        <ng-container matColumnDef="asignar">
          <th mat-header-cell *matHeaderCellDef  style="text-align: center; width: 14%;"> ------ </th>
        </ng-container>
  
        <ng-container matColumnDef="mantener">
          <th mat-header-cell *matHeaderCellDef  style="text-align: center; width: 15%;"> ------ </th>
        </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  
  
  
      <br>
      <div class="contenedorBotones" style="margin-left: 5% !important;
      margin-right: 5% !important;">
      <!-- [disabled]="totalPresupuestoV != totalPresupuestoC"-->
        <button mat-raised-button class="inputX2 btnAceptar" id="btnAsignar"
         (click)="aprobacionPresupuesto()" >Aprobacion Presupuesto &nbsp; <i class="fas fa-money-bill-wave"></i></button>
        &nbsp;
        <button mat-raised-button class="inputX2 btnAceptar" id="btnAsignar" *ngIf="pdv"  [disabled]="totalPresupuestoV != totalPresupuestoC"
        (click)="generarPresupuestoPDV()">Generar Presupuesto PDV &nbsp; <i class="fas fa-money-bill-wave"></i></button>
      </div>
     
  
      <div  *ngIf="mostrarTabla" >
       
        <button mat-raised-button class=" btnCancelar" style="width: 140px;" id="btnCancelar" (click)="cancelarConsulta()"
         >Cancelar &nbsp; <i
         class="fas fa-ban"></i></button>
      </div>
  
    </div>
  
    
  
  </div>
  
  <br>

</div>


