<div mat-dialog-content class="contenedorPantalla" [formGroup]="formaProductos">

  <h2 style="color: #1B7BD6; text-align: center;">ASIGNAR PRESUPUESTO VENTAS</h2>

  <hr>
  <br><br>

  <!--  <label style="font-weight: bold; color: #1B7BD6;">{{ input.codLinProducto}}&nbsp; - &nbsp;{{ input.nombLinProducto|uppercase}}</label>-->
  <mat-form-field class="example-full-width">
    <mat-label>Valor</mat-label>
    <!--id="{{input.nombLinProducto}}" formControlName="{{input.nombLinProducto}}"-->
    <input type="number" matInput placeholder="Valor Producto" id="valor" formControlName="valor"
      (keypress)="utilidad.validarCaracter($event, 'DECI2')" maxlength="20" required>
  </mat-form-field>


  <br><br>
  <div mat-dialog-actions class="row justify-content-around" style="display: grid !important;">
    <button mat-button (click)="asignar()" class="inputCompleto btnAceptar">Agregar
      &nbsp; <i class="fas fa-share-square"></i></button>
    <br>
    <button mat-button (click)="cancelar()" class="inputCompleto btnCancelar">Cancelar&nbsp; <i
        class="fas fa-ban"></i></button>
  </div>
  <br><br>
</div>