<div class="contenedorPantalla" *ngIf="terceroDataDto !== null">
  <br><br>
  <h1 class="tituloForma">PRESUPUESTO &nbsp; <i class="fas fa-money-bill-wave"></i></h1>
  <hr>
  <div class="contenedorForma" [formGroup]="formPresupuesto">

    <mat-card class="tarjetaPresupuesto mat-elevation-z8">
      <h1 style="color: #1B7BD6; text-align: center;">Seleccionar el mes y a&ntilde;o de presupuesto</h1>
      <hr>
      <br><br>
      <div class="contenido-presupuesto">
        <h4>Mes 1</h4>
        <mat-form-field class="inputcompleto">
          <mat-label>Año</mat-label>
          <mat-select formControlName="anio1" required>
            <mat-option *ngFor="let anio of listaAnos" [value]="anio.anio">
              {{anio.anio}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="inputcompleto">
          <mat-label>Mes</mat-label>
          <mat-select formControlName="mes1" required>
            <mat-option *ngFor="let mes of listaMeses" [value]="mes.codMes">
              {{mes.nombreMes|uppercase}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        
        <h4>Mes 2</h4>
        <mat-form-field class="inputcompleto">
          <mat-label>Año</mat-label>
          <mat-select formControlName="anio2" required>
            <mat-option *ngFor="let anio of listaAnos" [value]="anio.anio">
              {{anio.anio}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="inputcompleto">
          <mat-label>Mes</mat-label>
          <mat-select formControlName="mes2" required>
            <mat-option *ngFor="let mes of listaMeses" [value]="mes.codMes">
              {{mes.nombreMes|uppercase}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <h4>Mes 3</h4>
        <mat-form-field class="inputcompleto">
          <mat-label>Año</mat-label>
          <mat-select formControlName="anio3" required>
            <mat-option *ngFor="let anio of listaAnos" [value]="anio.anio">
              {{anio.anio}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="inputcompleto">
          <mat-label>Mes</mat-label>
          <mat-select formControlName="mes3" required>
            <mat-option *ngFor="let mes of listaMeses" [value]="mes.codMes">
              {{mes.nombreMes|uppercase}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      
      <br><br>
      <h1 style="color: #1B7BD6; text-align: center;">ASIGNACIÓN DE PRESUPUESTO</h1>
      <hr>
      <br><br>
      <div style="width: 100% !important; display: inline-block;" class="flex">

        <mat-form-field class="inputcompleto">
          <mat-label>Año</mat-label>
          <mat-select formControlName="anio" required>
            <mat-option *ngFor="let anio of listaAnos" [value]="anio.anio">
              {{anio.anio}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field class="inputcompleto">
          <mat-label>Mes</mat-label>
          <mat-select formControlName="mes" required (selectionChange)="utilidad.focus('#btnAsignar')"
            (keyup.enter)="asignar(formPresupuesto)">
            <mat-option *ngFor="let mes of listaMeses" [value]="mes.codMes">
              {{mes.nombreMes|uppercase}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <br><br><br>
        <div class="contenedorBotones">
          <button mat-raised-button class="inputX2 btnAceptar" id="btnAsignar"
            (click)="asignar(formPresupuesto)">Agregar &nbsp; <i class="fas fa-money-bill-wave"></i></button>
          &nbsp;
          <button mat-raised-button class="inputX2 btnCancelar" (click)="cancelar(formPresupuesto)">Cancelar &nbsp; <i
              class="fas fa-ban"></i></button>
        </div>


      </div>
    </mat-card>


  </div>


</div>