#preloader_3 {
    position: relative;
    width: 120px !important;
    height: 50px !important;
}

#preloader_3:before {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    background: blue;
    content: '';
    position: absolute;
    background: #00b9f1;
    animation: preloader_3_before 1.5s infinite ease-in-out;
}

#preloader_3:after {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    background: blue;
    content: '';
    position: absolute;
    background: #05bca5;
    left: 75px;
    animation: preloader_3_after 1.5s infinite ease-in-out;
}

@keyframes preloader_3_before {
    0% {
        transform: translateX(0px) rotate(0deg)
    }
    50% {
        transform: translateX(75px) scale(1.2) rotate(260deg);
        background: #05bca5;
        border-radius: 0px;
    }
    100% {
        transform: translateX(0px) rotate(0deg)
    }
}

@keyframes preloader_3_after {
    0% {
        transform: translateX(0px)
    }
    50% {
        transform: translateX(-75px) scale(1.2) rotate(-260deg);
        background: #00b9f1;
        border-radius: 0px;
    }
    100% {
        transform: translateX(0px)
    }
}