
<div class="contenedorPantalla" *ngIf="terceroDataDto !== null && contenedorPantalla!=true">
  <br><br>
  <h1 class="tituloForma">PRESUPUESTO &nbsp; <i class="fas fa-money-bill-wave"></i></h1>
  <hr>
  <div class="contenedorForma" [formGroup]="formPresupuesto">

    <mat-card class="tarjetaPresupuesto mat-elevation-z8">
      <h1 style="color: #1B7BD6; text-align: center;">ASIGNACIÓN DE PRESUPUESTO</h1>
      <hr>
      <br><br>
      <div class="contenido-presupuesto">

        <mat-form-field class="inputcompleto">
          <mat-label>Año</mat-label>
          <mat-select formControlName="anio" required>
            <mat-option *ngFor="let anio of anios" [value]="anio.anio" >
              {{anio.anio}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="inputcompleto">
          <mat-label>Mes</mat-label>
          <mat-select formControlName="mes" required>
            <mat-option *ngFor="let mes of meses" [value]="mes.mes">
              {{mes.mes|uppercase}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="inputcompleto">
          <mat-label>Linea de producto</mat-label>
          <mat-select formControlName="producto" required>
            <mat-option *ngFor="let linea of productos" [value]="linea.producto">
              {{linea.producto|uppercase}}
            </mat-option>
          </mat-select>
        </mat-form-field>




      </div>
<br>

      <div class="contenedorBotones">
        <button mat-raised-button class="inputX2 btnAceptar" id="btnAsignar"  [disabled]="anios==undefined && meses== undefined && productos== undefined"
          (click)="consultadatatable(formPresupuesto)">Agregar &nbsp; <i class="fas fa-money-bill-wave"></i></button>
        &nbsp;
        <button mat-raised-button class="inputX2 btnCancelar" (click)="cancelar(formPresupuesto) ">Cancelar &nbsp; <i
            class="fas fa-ban"></i></button>
      </div>
    </mat-card>


  </div>


</div>

<div class="center" >
  <div class="contenedorTabla" *ngIf="tabladatos">

    <h2 style="text-align: center; color: #1B7BD6;">DICIEMBRE / CHANCE</h2>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z2 tabla" style="text-align: start;" matSort id="tabla">

      <!-- fecha Column -->
      <ng-container matColumnDef="fecha"  >
        <th mat-header-cell *matHeaderCellDef  style="text-align: center;"> Fecha</th>
        <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.fecha}} </td>
      </ng-container>

      <!-- dia Column -->
      <ng-container matColumnDef="dia">
        <th mat-header-cell *matHeaderCellDef  style="text-align: center;">Día </th>
        <td mat-cell *matCellDef="let element" style="text-align: center;">{{element.dia | uppercase}}  </td>
      </ng-container>

      <!-- Presupuesto Comercial Column -->
      <ng-container matColumnDef="presupuestoComercial">
        <th mat-header-cell *matHeaderCellDef  style="text-align: center;"> Presupuesto Comercial </th>
        <td mat-cell *matCellDef="let element" style="text-align: right;"> <p>$ {{element.presupuesto_comercial | number}}</p>  </td>
      </ng-container>

       <!-- Presupuesto Ventas Column -->
       <ng-container matColumnDef="presupuestoVentas">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Presupuesto Ventas </th>
        <td mat-cell *matCellDef="let element" style="text-align: right;"> <p>$ {{element.presupuestp_ventas | number}}</p>  </td>
      </ng-container>

      <!-- asignar Column -->
      <ng-container matColumnDef="asignar">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Asignar Presupuesto</th>
        <td mat-cell *matCellDef="let element" style="text-align: center;">
          <button mat-flat-button class=" inputcompletotabla" (click)="asignarPresupuesto(element)">
            <mat-icon>add  &nbsp; </mat-icon>Asignar
          </button>
        </td>
      </ng-container>

       <!-- mantener Column   #1B7BD6 -->
       <ng-container matColumnDef="mantener">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Mantener Presupuesto</th>
        <td mat-cell *matCellDef="let element" style="text-align: center;">
          <button mat-flat-button class=" inputcompletotabla" (click)="mantenerPresupuesto(element)">
            <mat-icon>add &nbsp; </mat-icon>Mantener
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="8">No se encontr&oacute; informaci&oacute;n para mostrar</td>
      </tr>


    </table>

    <div>
<h3 style="color:  #1B7BD6;">TOTAL PRESUPUESTO COMERCIAL: $ {{totalPresupuestoC | number}}           &nbsp; &nbsp;  &nbsp; TOTAL PRESUPUESTO VENTAS: $ {{totalPresupuestoV | number}}</h3>
    </div>

    <br>
    <div class="contenedorBotones" style="margin-left: 5% !important;
    margin-right: 5% !important;">
      <button mat-raised-button class="inputX2 btnAceptar" id="btnAsignar" [disabled]="totalPresupuestoV != totalPresupuestoC"
       (click)="aprobacionPresupuesto()" >Aprobacion Presupuesto &nbsp; <i class="fas fa-money-bill-wave"></i></button>
      &nbsp;
      <button mat-raised-button class="inputX2 btnAceptar" id="btnAsignar" *ngIf="pdv"  [disabled]="totalPresupuestoV != totalPresupuestoC"
      (click)="generarPresupuestoPDV()">Generar Presupuesto PDV &nbsp; <i class="fas fa-money-bill-wave"></i></button>
    </div>
    <br>

  </div>
</div>

<br>
