<div mat-dialog-content>

  <h2 style="color: #1B7BD6; text-align: center;">ASIGNAR PRESUPUESTO VENTAS</h2>
  <h5>PRODUCTO: {{data.element.id}} </h5>
<hr>
<br><br>
<!--*ngFor="let input of listaProductos" [formGroup]="formaProductos"-->
  <div >
  <!--  <label style="font-weight: bold; color: #1B7BD6;">{{ input.codLinProducto}}&nbsp; - &nbsp;{{ input.nombLinProducto|uppercase}}</label>-->
    <mat-form-field class="example-full-width" >
      <mat-label>Valor</mat-label>
      <!--id="{{input.nombLinProducto}}" formControlName="{{input.nombLinProducto}}"-->
      <input matInput placeholder="Valor Producto" id="valor"   (keypress)="utilidad.validarCaracter($event, 'DECI2')"
       maxlength="20"  required>
    </mat-form-field>

  </div>
</div>
<br><br>
<div mat-dialog-actions class="row justify-content-around" style="display: grid !important;">
  <button mat-button (click)="asignar()"  class="inputCompleto btnAceptar">Agregar &nbsp; <i class="fas fa-share-square"></i></button>
<br>
  <button mat-button (click)="cancelar()" class="inputCompleto btnCancelar" >Cancelar&nbsp; <i class="fas fa-ban"></i></button>
</div>
<br><br>
