.contenedorPantalla{
    margin-top: 50px !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
    margin-bottom: 110px !important;
    width: 90% !important;
    height: 100% !important;
}

.contenedorForma{
    margin-top: 20px !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
    width: 90% !important;
}

.inputcompleto{
    width: 90% !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
}
.inputcompletotabla{
background-color: #1B7BD6;
color: white;
font-size: 15px;
height: 35px;
width: 80% ;
}


@media screen and (max-width: 550px) {
  .inputcompletotabla{
    background-color: #1B7BD6;
    color: white;
    font-size: 13px;
    height: 34px;
    width: 70% !important;
}}

.inputX2{
    width: 40% !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
    border-radius: 15px;
}

.tarjetaPresupuesto{
    background: rgba(255, 255, 255, 0.9) !important;
    width: 50% !important;
    margin-left: 20% !important;
    margin-right: 25% !important;
    margin-top: 10% !important;
}

.contenedorBotones{
    display: flex !important;
    margin-bottom: 40px !important;
}

.btnAceptar{
    background-color: #1B7BD6;
    color: white;
    font-size: 19px;
    height: 50px;

}

.btnCancelar{
    background-color: #5c5c5c;
    color: white;
    font-size: 19px;
    height: 50px;

}

.tituloForma{
    color: #1B7BD6;
    font-size: 70px !important;
}

@media screen and (max-width: 550px) {
    .tarjetaPresupuesto{
        width: 90% !important;
        margin-left: 0% !important;
        margin-right: 0% !important;
        margin-top: 3% !important;
    }

    .btnAceptar{
        background-color: #1B7BD6;
        color: white;
        font-size: 14px;
    }

    .btnCancelar{
        background-color: #5c5c5c;
        color: white;
        font-size: 14px;

    }

    .contenedorPantalla{
        margin-top: 50px !important;
        margin-left: 2% !important;
        margin-right: 2% !important;
        margin-bottom: 110px !important;
        width: 90% !important;
        height: 100% !important;
    }

    .tituloForma{
        color: #1B7BD6;
        font-size: 40px !important;
    }
}

@media screen and (min-width: 1178px) {
    .contenido-presupuesto {
        grid-template-columns: 1fr 3fr 3fr;
    }
}

.contenido-presupuesto {
    width: 100%;
    /*display: grid;*/
    gap: 1rem;
    grid-auto-rows: 3rem;
}


.contenedorTabla{
  width: 100% !important;
}


@media screen and (max-width: 1020px) {
  .contenedorTabla{
      overflow-x: scroll !important;
  }
}

.tabla{
  width: 90% !important;
  min-width: 1020px !important;
  padding-bottom: 0em !important;
  margin-left: 5% !important;
  margin-right: 5% !important;
}

.mat-elevation-z2 {
  margin: 0 10px 0 10px;
}

th{
color: #1B7BD6;
text-align: center;
}
