<div mat-dialog-content>
  
  <h2 style="color: #1B7BD6; text-align: center;">ASIGNACIÓN DE PRESUPUESTO</h2>
<hr>
<br><br>
  <div *ngFor="let input of listaProductos" [formGroup]="formaProductos">
    <label style="font-weight: bold; color: #1B7BD6;">{{ input.codLinProducto}}&nbsp; - &nbsp;{{ input.nombLinProducto|uppercase}}</label>
    <br><br>
    <mat-form-field class="example-full-width" >
      <mat-label>Valor Producto</mat-label>
      <input matInput placeholder="Valor Producto"   id="{{input.nombLinProducto}}" formControlName="{{input.nombLinProducto}}" (keypress)="utilidad.validarCaracter($event, 'DECI2')"
       maxlength="20"  required>
    </mat-form-field>
    <br><br>
  </div>
</div>
<br><br>
<div mat-dialog-actions class="row justify-content-around" style="display: grid !important;">
  <button mat-button (click)="asignarPresupuesto()" class="inputCompleto btnAceptar">Asignar &nbsp; <i class="fas fa-share-square"></i></button>
<br>
  <button mat-button (click)="cancelar()" class="inputCompleto btnCancelar" >Cancelar&nbsp; <i class="fas fa-ban"></i></button>
</div>
<br><br>
